@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --red: #d01c28;
  --grey:#2e2e2e;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* BUTTON */
button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color:white;
  font-weight: 500;
  cursor: pointer;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content: space-between;
  max-width: 1280px;
  margin:0 auto;
  height:72px;
  align-items:center;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

nav ul li a{
  text-decoration: none;
  color: var(--grey);
  font-weight: 500;
}

/* HERO SECTION */
.hero{
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 72px);
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1{
  font-size: 80px;
  line-height: 90px;
  font-weight: 800;
  max-width: 595px;
}

.hero p{
  font-weight: 600;
  color: var(--grey);
  max-width: 400px;
}

.hero-btn{
  display: flex;
  gap: 40px;
}

.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 16px;
}

.hero-image img{
  width: 500px;
}