@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}
:root{
  --red: #d01c28;
  --grey:#2e2e2e;
}
*{
  margin: 0;
}
button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color:white;
  font-weight: 500;

}
nav{
  display:flex;
  justify-content: space-between;
  max-width: 1280px;
  margin:0 auto;
  height:72px;
  nav ul{
    display: flex;
    list-style: none;
    gap: 24px;

  }
}